$color-primary: #fffbf5;
$color-secondary: #000;
$color-accent: #f5a704;

$color-grey-1: #936402;
$color-grey-2: #fdf2d9;
// $color-grey-3: #eee;

$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Nunito', sans-serif;

//FONT-SIZE
$default-font-size: 1.6rem;
